<div class="container mt-5">
  <h2 class="text-center">Nuevo Destinatario</h2>
  <form class="row g-3 mt-4" autocomplete="off" [formGroup]="form" (ngSubmit)="save()">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Rut</label>
      <input type="number" class="form-control" formControlName="rut" [class.is-invalid]="invalidRut">
      <small *ngIf="invalidRut" class="text-danger">
        Ingrese un rut correcto
      </small>
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Nombre</label>
      <input type="text" class="form-control" formControlName="name" [class.is-invalid]="invalidName">
      <small *ngIf="invalidName" class="text-danger">
        Ingrese 5 letras
      </small>
    </div>
    <div class="col-md-6">
      <label class="form-label">Correo</label>
      <input type="email" class="form-control" formControlName="email" [class.is-invalid]="invalidEmail">
      <small *ngIf="invalidEmail" class="text-danger">
        Ingrese un correo válido
      </small>
    </div>
    <div class="col-md-6">
      <label class="form-label">Teléfono</label>
      <input type="number" class="form-control" formControlName="phone" [class.is-invalid]="invalidPhone">
      <small *ngIf="invalidPhone" class="text-danger">
        Ingrese un número de teléfono válido
      </small>
    </div>
    <div class="form-group col-md-6">
      <label>Banco</label>
      <select class="form-control" formControlName="bankType" [class.is-invalid]="invalidBank">
        <option value="" disabled selected hidden>Seleccione su banco</option>
        <option *ngFor="let bank of banks">{{bank.name}}</option>
      </select>
      <small *ngIf="invalidBank" class="text-danger">
        Debes seleccionar un banco
      </small>
    </div>
    <div class="form-group col-md-6">
      <label for="inputState">Tipo de cuenta</label>
      <select id="inputState" class="form-control" formControlName="accountType"
        [class.is-invalid]="invalidAccountType">
        <option value="" disabled selected hidden>Seleccione su tipo de cuenta</option>
        <option *ngFor="let accountType of accountTypes">{{accountType.cuenta}}</option>
      </select>
      <small *ngIf="invalidAccountType" class="text-danger">
        Debes seleccionar un número de cuenta
      </small>
    </div>
    <div class="col-md-6">
      <label for="inputCity" class="form-label">Número de cuenta</label>
      <input type="number" class="form-control" formControlName="accountNumber"
        [class.is-invalid]="invalidAccountNumber">
      <small *ngIf="invalidAccountNumber" class="text-danger">
        Ingrese un número de cuenta
      </small>
    </div>
    <div class="col-md-12 mt-3">
      <button type="submit" class="btn btn-primary btn-lg btn-block">Crear destinatario</button>
    </div>
  </form>
</div>