<div class="container mt-5 animated fadeIn fast">
  <h2 class="text-center">Transferir</h2>
  <label class="form-label mt-4">Buscar Destinatario</label>
  <form class="form-inline">
    <input spellcheck="false" autocomplete="none" class="form-control mr-sm-2" (input)="handleSearch($event)"
      placeholder="Buscar">
    <button class="btn btn-primary  my-2 my-sm-0" type="button">Buscar</button>
  </form>
  <label *ngIf="users" class="form-label mt-4">Seleccione el destinatario a transferir</label>
  <label *ngIf="!users" class="form-label mt-4 d-flex justify-content-center">No tienes destinatarios agregados</label>
  <ul class="list-group col-12">
    <li (click)="selectRecipient(user)" *ngFor="let user of users | search: filterUser; let i = index"
      class="list-group-item text-center point" [ngClass]="{ active: recipient === user._id }">
      <table style="width: 100%;">
        <tr class="tr-detalle">
          <td class="td-detalle">
            <img class="img-detalle" [src]="'https://i.pravatar.cc/' + 30 + i" [alt]="user.usuario">
          </td>
          <td style="text-align: left;">{{ user.nombre }}</td>
          <td style="text-align: left;">{{ user.correo }}</td>
          <td style="text-align: left;">{{user.banco}}</td>
          <td style="text-align: left;">{{user.tipocuenta}}</td>
        </tr>
      </table>
    </li>


  </ul>
  <form [formGroup]="amountTransfer" (ngSubmit)="sendTransfer()">
    <label class="form-label">Monto</label>
    <input type="number" class="form-control col-md-3" formControlName="amount" [class.is-invalid]="invalidAmount">
    <small *ngIf="invalidAmount" class="text-danger">
      El campo es requerido
    </small>
    <div class="col-md-12 mt-3">
      <button type="submit" class="btn btn-primary btn-lg btn-block offset-md-4 col-md-4 mt-3 mb-5"
        [disabled]="amountTransfer.invalid">Continuar</button>
    </div>
  </form>
</div>