<div class="container mt-5 mb-5 animated fadeIn fast mb-5">
    <h2 class="text-center">Historial de Transferencias</h2>
    <table class="table mt-4" style="width: 100%">
        <thead>
          <tr class="tr-detalle-history">
            <th></th>
            <th>Nombre de destinatario</th>
            <th>Rut</th>
            <th>Banco</th>
            <th>Tipo de cuenta</th>
            <th>Monto</th>
          </tr>
        </thead>
        <tbody>
          <tr class="tr-detalle-history" *ngFor="let user of userTransfer; let i = index">
            <td class="td-detalle"><img class="img-detalle" [src]="'https://i.pravatar.cc/' + 30 + i" ></td>
            <td >{{user.nombre}}</td>
            <td>{{user.rut}}</td>
            <td>{{user.banco}}</td>
            <td>{{user.tipocuenta}}</td>
            <td>{{user.monto}}</td>
            
          </tr>
        </tbody>
      </table>
</div>